body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"],
.login-container select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus,
.login-container input[type="email"]:focus,
.login-container select:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0;
    margin: 20px 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* Adjust select field to match input fields */
.login-container select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 48px; /* Set the same height as input fields */
    transition: border-color 0.3s ease;
}

/* Add focus styles for select field */
.login-container select:focus {
    border-color: #4CAF50;
    outline: none;
}